<div class="app-header ui container">
  <div class="ui grid">
    <div class="eight wide column">
    <h2 class="ui header">
      <i class="bed icon"></i>
      <div class="content">
        AMA Mattress &amp; Furniture
        <div class="sub header">Enjoy double reliability - Product and Delivery.</div>
      </div>
    </h2>
    </div>
    <div class="eight wide column right aligned support">
      <% if current_user %>
         <a id="upload-product-link" class="upload-product-link">Upload Product</a>
      <% else %>
        <div>Customer Support</div>
        <div><a href="https://api.whatsapp.com/send?text=Hello%20AMA%20mart..." target="_blank"><i class="whatsapp icon"></i>07031863004</a></div>
      <% end %>
    </div>
  </div>
</div>
