.home-page {
  .footer {
    margin-top: 8em;

    .instagram {
      color: purple;
    }

    .contact-info {
      margin-bottom: 5px;
    }
  }

  .center-img {
    height: 80vh;
    overflow-y: hidden;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  .products-pricelist {
    justify-content: space-between;

    .product-img {
      max-height: 210px;
    }

    .card {
      max-width: 250px;
      cursor: default !important;

      a {
        cursor: default;
      }
    }
  }
}
