.product-form {
  width: 70%;
  margin: 7em auto;

  .product-info {
    margin-bottom: 30px;
  }

  .product-img-input {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }

  .logout-link {
    text-align: right;
  }
}
